:root {
    --coloffwhite: #f8f8f8;
    --colmaingreen: #72b85f;
    --colmaingreendark: #5b984b;
    --coldarkgreen: #003f2c;
    --colred: #e5622d;
  }
body {
    font-family: Boogaloo, cursive;
}

header {
    background-color: var(--colmaingreen);
}

i {
   color: var(--coldarkgreen);
}
.cat {
    margin-top: 90px;
    font-size: 30px;
    padding-bottom: 20px;
}
.categories {
    height: 600px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
#burgers {
    background-image: url("../images/burgers-category.jpg");
    background-size: cover;
}
#indian {
    background-image: url("../images/indian-category.jpg");
    background-size: cover;
}
#asian {
    background-image: url("../images/asian-category.jpg");
    background-size: cover;
}
#pizza {
    background-image: url("../images/pizza-category.jpg");
    background-size: cover;
}
#thai {
    background-image: url("../images/thai-category.jpg");
    background-size: cover;
}
#pasta {
    background-image: url("../images/pasta-category.jpg");
    background-size: cover;
}
@media screen and (min-width: 768px){
    .categories {
        height: 1000px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cat {
        margin-top: 220px;
        font-size: 30px;
        padding-bottom: 20px;
    }
}
